<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exeamedia.totto" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Artists"
            android:label="@string/title_activity_artists"
            android:parentActivityName=".Introduction"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.exeamedia.totto.Introduction" />
        </activity>
        <activity
            android:name=".Techniques"
            android:label="@string/title_activity_techniques"
            android:parentActivityName=".Introduction" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.exeamedia.totto.Introduction" />
        </activity>
        <activity
            android:name=".Introduction"
            android:label="@string/title_activity_introduction" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
